<launch>
    <arg name="port" default="/dev/ttyUSB0"/>
    <arg name="baud" default="57600"/>

    <!-- Serial Communication with Firmware -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" respawn="true" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="57600"/>
    </node>
</launch>